* {margin: 0; padding: 0; }

body{
    background-color: rgba(250, 83, 171, 0.82);
}

.nav {
    width: 100vw;
    height: 45px;
    background-color: aliceblue;
    box-shadow: aliceblue;
}

ul{
    width: 100vw;
    padding-top: 9px;
    text-align: center;
}

ul li {
    margin-left: 3vw;
    padding-bottom: 4px;
    display: inline-block;
    border-bottom: solid 2px aliceblue;
    transition: 0.5s;
}

ul li:hover{
    border-bottom: solid 2px rgba(250, 129, 192, 0.82);
}

a {
    color: rgba(114,167,250,0.82);
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
form{
    display: flex;
    flex-direction: column;
    margin-right: 1000px;
}